{% extends 'event/base.html' %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">Worship <span>Concert</span><br> and Gospel Competitions</h1>
      <p class="mb-4 pb-0">Theme: Reaching The Kingdom with The Heart of Worship by Promoting Worshippers</p>
      <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a> -->
      <div class="container">
        <!-- <h1 id="headline"></h1> -->
        <div id="countdown">
          <ul>
            <li><span id="days"></span>days</li>
            <li><span id="hours"></span>Hours</li>
            <li><span id="minutes"></span>Minutes</li>
            <li><span id="seconds"></span>Seconds</li>
          </ul>
        </div>
        <div id="content" class="emoji">
          <span>🥳</span>
          <span>🎉</span>
          <span>🎤</span>
          <span>🏇</span>
        </div>
      </div>
      <a href="#about" class="about-btn scrollto">About The Event</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container position-relative" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The Event</h2>
            <p>The Worship Concert and Gospel Competitions, organized by Kingdom First Worldwide Ministries and hosted by Voices of Worship and Praise, will take place on 25th April 2026 from 10:00 AM at Odiado Rehabilitation Hall. The event will bring together gospel artists and worship teams for a day of praise, worship, and musical competitions, with winners receiving awards.</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>Odiado Rehabilitation Hall, Busia</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>Saturday<br>25th April, 2026</p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->


    <!-- ======= Schedule Section ======= -->
    <section id="schedule" class="section-with-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Event Schedule</h2>
          <p>Here is our event schedule</p>
        </div>

        <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">Day 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">Day 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab">Day 3</a>
          </li>
        </ul>

        <h3 class="sub-heading">This year, the event will be hosted for only one day.</h3>

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:00 AM</time></div>
              <div class="col-md-10">
                <h4>Arrival and Confirmation</h4>
                <p>Attendees arrive and confirm their registration.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:30 AM</time></div>
              <div class="col-md-10">
                <h4>Prayer by <span>Abraham</span></h4>
                <p>Opening prayer and welcome remarks</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:45 AM</time></div>
              <div class="col-md-10">
                <h4>Praise and Worship</h4>
                <p>Praise and Worship Session</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:30 AM</time></div>
              <div class="col-md-10">
                <h4>Gospel Competition – Round 1 <span>Stacy</span></h4>
                <p>Gospel Competition – Round 1 (Solo Performances)</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>01:00 PM</time></div>
              <div class="col-md-10">
                <h4>Lunch Break</span></h4>
                <p>Lunch Break/Networking</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>02:00 PM</time></div>
              <div class="col-md-10">
                <h4>Gospel Competition - Round 2 <span>Abraham</span></h4>
                <p>Gospel Competition – Round 2 (Choirs and Groups)</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>03:30 PM</time></div>
              <div class="col-md-10">
                <h4>Short Break</h4>
                <p>Short Break/Tea Break</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>03:45 PM</time></div>
              <div class="col-md-10">
                <h4>Gospel Competition – Round 3</h4>
                <p>Gospel Competition – Round 3 (Finalists)</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>04:45 PM</time></div>
              <div class="col-md-10">
                <h4>Word of Encouragement / Sermon by <span>Abraham</span></h4>
                <p>Word of Encouragement / Sermon</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>05:30 PM</time></div>
              <div class="col-md-10">
                <h4>Awarding Ceremony</h4>
                <p>Announcement of Winners and Award Ceremony</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>06:00 PM</time></div>
              <div class="col-md-10">
                <h4>Closing</h4>
                <p>Closing Worship and Final Prayer</p>
            </div>

          </div>
          <!-- End Schdule Day 1 -->

          <!-- Schdule Day 2 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">

           <!--No day two events scheduled-->

          </div>
          <!-- End Schdule Day 2 -->

        </div>

      </div>

    </section><!-- End Schedule Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact Us</h2>
          <p>For any question or comment, please feel free to reach out to us</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>Odiado, Busia, Kenya</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Phone/Whatsapp</h3>
              <p><a href="tel:+254703722680">+254 703 722 680</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:worshipcenter@gmail.com">worshipcenter@gmail.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <!-- Start of flash messages -->
            {% if messages %}
              <div class="messages">
                {% for message in messages %}
                  {% if message.tags == "error" %}
                  <div class="alert {% if message.tags %}alert-danger{% endif %}">
                  {% else %}
                  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                  {% endif %}
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          <!-- End of flash messages -->

          <form action="" method="post" role="form" class="needs-validation" novalidate>
            {% csrf_token %}  

            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="{{form.first_name.name}}" class="form-control" id="{{form.first_name.id_for_label}}" placeholder="First Name" required>
              </div>

              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="text" name="{{form.last_name.name}}" class="form-control" id="{{form.last_name.id_for_label}}" placeholder="Last Name" required>
              </div>
            </div>

            <div class="row mt-3">
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="{{form.email.name}}" id="{{form.email.id_for_label}}" placeholder="Contact Email" required>
              </div>

              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="{{form.phone.name}}" id="{{form.phone.id_for_label}}" placeholder="Phone Number" required>
              </div>
            </div>

            <div class="form-group mt-3">
              <select class="form-control" name="{{form.worship_type.name}}" id="{{form.worship_type.id_for_label}}" required>
                <option value="" disabled selected>Choose Worship Type</option>
                {% for choice in form.worship_type.field.choices %}
                  <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group mt-3">
              <textarea class="form-control" name="notes" rows="5" placeholder="Additional Information (Special Requests, Dates, etc.)"></textarea>
            </div>

            <div class="text-center mt-3">
              <button type="submit" class="btn btn-warning btn-lg px-4 py-2 shadow">Register</button>
            </div>

          </form>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


{% endblock content %}